html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
}

body {
	color: #333;
	background-color: #444;
	margin: 0;
	margin-top: -15px;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
	overflow-y: hidden !important;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

.og-button {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
    color: #333;
	outline: none;
	background-color: #aaaaaa !important;
    height: 1.8em !important;
    padding: 0 0.2em 0 0.2em !important;
	
}

.og-button:disabled {
	color: #999;
}

.og-button:not(:disabled):active {
	background-color: #ddd;
}

.og-button:focus {
	border-color: #666;
}

.og-button:hover {
	cursor: pointer;
}

.og-button:disabled:hover {
	cursor: default;
}
